.portfolio{
  background: lighten(#000, 40%);
}

.portfolio-item{
  @include span(6);

  &:nth-child(odd){
    margin-right: 0;
  }

}

.portfolio-link{
  display: block;
}

.portfolio-image{
  max-width: 100%;
}

.portfolio-item-link{
  display: block;
}