.portfolio{
  background: lighten(#000, 40%);
}

.portfolio-item{
  @include span(4);

  &:last-child{
    margin-right: 0;
  }

}

.portfolio-link{
  display: block;
}

.portfolio-image{
  max-width: 100%;
}