.social{
  padding: 0;
  list-style: none;
  text-align: center;

  li{
    display: inline-block;
  }

}

.btn-social{
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  font-size: 1.5em;
  margin: 0.125em;
  .fa{
    color: #333;
    display: block;
    padding: 10px;
  }
  .fa-fw{
    height: 1.28571429em;
    line-height: 1.28;
  }
}

.contact{
  background-color: #333333;
}